<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin>

  <general active="1">
          <plugin_name>Reservationssystem</plugin_name>
          <plugin_foldername>cntnd_booking</plugin_foldername>
          <uuid>592369BC-2643-9A6F-5445-5CD465D60056</uuid>
          <description>Reservationssystem</description>
          <author>Thomas D'Ascoli</author>
          <copyright>thomas@dasco.li</copyright>
          <mail>thomas@dasco.li</mail>
          <website>https://github.com/cntnd/booking</website>
          <version>1.0.0</version>
  </general>

  <requirements php="5.2.3">
      <contenido minversion="4.9.0" />
  </requirements>

  <contenido>

    <areas>
        <area>form</area>
        <area parent="form" menuless="0">form_fields</area>
        <area parent="form" menuless="0">form_data</area>
        <area parent="form" menuless="0">form_export</area>
        <area parent="form" menuless="0">form_import</area>
        <area parent="form">form_ajax</area>
    </areas>

    <actions>
        <action area="form">pifa_show_form</action>
        <action area="form">pifa_store_form</action>
        <action area="form">pifa_delete_form</action>
        <action area="form_fields">pifa_show_fields</action>
        <action area="form_data">pifa_show_data</action>
        <action area="form_import">pifa_import_form</action>
        <action area="form_ajax">pifa_export_form</action>
        <action area="form_ajax">pifa_get_field_form</action>
        <action area="form_ajax">pifa_post_field_form</action>
        <action area="form_ajax">pifa_reorder_fields</action>
        <action area="form_ajax">pifa_export_data</action>
        <action area="form_ajax">pifa_get_file</action>
        <action area="form_ajax">pifa_delete_field</action>
        <action area="form_ajax">pifa_get_option_row</action>
    </actions>

    <frames>
        <frame area="form" filetype="main" name="cntnd_booking/includes/include.left_top.php" frameId="1" />
        <frame area="form" filetype="main" name="cntnd_booking/includes/include.left_bottom.php" frameId="2" />
        <frame area="form" filetype="main" name="cntnd_booking/includes/include.right_top.php" frameId="3" />
        <frame area="form_import" filetype="main" name="cntnd_booking/includes/include.right_top.php" frameId="3" />
        <frame area="form" filetype="main" name="cntnd_booking/includes/include.right_bottom.form.php" frameId="4" />
        <frame area="form_fields" filetype="main" name="cntnd_booking/includes/include.right_bottom.form_fields.php" frameId="4" />
        <frame area="form_data" filetype="main" name="cntnd_booking/includes/include.right_bottom.form_data.php" frameId="4" />
        <frame area="form_export" filetype="main" name="cntnd_booking/includes/include.right_bottom.form_export.php" frameId="4" />
        <frame area="form_import" filetype="main" name="cntnd_booking/includes/include.right_bottom.form_import.php" frameId="4" />
        <frame area="form_ajax" filetype="main" name="cntnd_booking/includes/include.right_bottom.form_ajax.php" frameId="4" />
    </frames>

    <nav_sub>
        <nav area="form" level="0" navm="extra">cntnd_booking/xml/lang_de_CH.xml;plugins/cntnd_booking/label</nav>
    </nav_sub>

  </contenido>

  <content_types>
    <type>CMS_BOOKING</type>
  </content_types>

</plugin>
