<p>
<h2>Reservation</h2>

	<div class="form-group">
		<label for="name"><em>*</em>Vor- und Nachname</label>
		<input type="text" name="name" value="" class="form-control required" />
	</div>
	<div class="form-group">
		<label for="adresse">Adresse</label>
		<input type="text" name="adresse" value="" class="form-control" />
	</div>
	<div class="form-group">
		<label for="plz_ort">PLZ Ort</label>
		<input type="text" name="plz_ort" value="" class="form-control" />
	</div>
	<div class="form-group">
		<label for="email"><em>*</em>E-Mail</label>
		<input type="text" name="email" value="" class="required email form-control" />
	</div>
	<div class="form-group">
		<label for="telefon">Telefon</label>
		<input type="text" name="telefon" value="" class="form-control" />
	</div>
	<div class="form-group">
		<label for="personen"><em>*</em>Anzahl Personen</label>
		<input type="text" name="personen" value="" class="required number form-control" />
	</div>
	<div class="form-group">
		<label for="bemerkungen">Bemerkungen</label>
		<textarea name="bemerkungen" class="form-control"></textarea>
	</div>
</p>